.repos-input{
    width: 43rem;
    height: 3.625rem;
    border-radius: 8px;
    background: #DFE4EA;
    font-size: 20px;
    outline: none;
    border: 1px solid white;
    padding-left: 2.5rem;

    @media (max-width: 1200px){
        width: 37rem;
    }

    @media (max-width: 910px){
        width: 28rem;
    }
    @media (max-width: 650px){
        width: 25rem;
    }
    @media (max-width: 460px) {
        width: 25rem;
    }
    @media (max-width: 400px) {
        width: 20rem;
    }
}
.icon{
    position: absolute;
    padding-top: 1.563rem;
    color: #18214D;
    padding-left: 0.625rem;
}