.commit-button-two{
    background-color: #F3663F;
    width: 12rem;
    height: 3.625rem;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    @media (max-width: 500px){
        width: 694px;
        height: 58px;
    }
}