.commit-button{
    background-color: #F3663F;
    width: 13rem;
    height: 3.625rem;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    border: 1px solid #F3663F;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1050px) {
        width: 10rem;
    }
    @media(max-width: 775px) {
        width: 8rem;
    }
    @media (max-width: 650px){
        width: 25rem;
        height: 3.625rem;
    }
    @media (max-width: 460px) {
        width: 25rem;
    }
    @media (max-width: 400px) {
        width: 20rem;
    }
}